.main-header {
	background-image: url(biblioteka.jpg);
}

header h1 {
	color: steelblue;
	padding: 80px 0;
}

.book {
	word-wrap: break-word;
}

p{margin:0;}

.button-type {
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	cursor: pointer;
}

.align-top-right {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 24px;

}

.popup-container {
	position: relative;
	padding: 20px 16px;
}

.modal-screen {
	background-color: aliceblue;
	width: 60%;
	margin: 0 auto;
	padding: 10px;
	border-radius: 15px;

}

#screen {
	padding-top: 50px;
	display: none;
	z-index: 3;
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	margin: auto;
	overflow: auto;
}

#screen-item {
	padding-top: 50px;
	display: none;
	z-index: 3;
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	margin: auto;
	overflow: auto;

}